.b_container{
    height: 540px;
    border: 0px solid red;
    background-color: #f9f9f9;
    display: grid;
    display: flex;
    margin: auto;
    gap: 18px;
    text-align: left;
    
}
.b_container>div{
    width: 15%;
    border: 0px solid blue;
    margin: auto;
    height: 540px;
    font-family: sans-serif;
    font-size: 17px;
    line-height: 14px;
    color: #4d4949;
 
}
